.typography {
  margin: 0;
}

/* Main Headings */
.h1 {
  font-family: var(--typography-font-family-heading);
  font-size: var(--typography-font-size-h1);
  font-weight: 700;
  color: var(--color-hh-primary-700);
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  
  @media (max-width: 768px) {
    font-size: var(--typography-font-size-h1-mobile);
  }
}

.h2 {
  font-family: var(--typography-font-family-heading);
  font-size: var(--typography-font-size-h2);
  font-weight: 600;
  color: var(--color-hh-primary-700);
}

.h3 {
  font-family: var(--typography-font-family-heading);
  font-size: var(--typography-font-size-h3);
  font-weight: 600;
  color: var(--color-hh-primary-700);
}

.h4 {
  font-family: var(--typography-font-family-heading);
  font-size: var(--typography-font-size-h4);
  font-weight: 600;
  color: var(--color-hh-primary-700);
}

/* Alternate Headings */
.alt-h1 {
  font-family: var(--typography-font-family-alt);
  font-size: var(--typography-font-size-h1);
  font-weight: 700;
  color: var(--color-hh-primary-700);
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.alt-h2 {
  font-family: var(--typography-font-family-alt);
  font-size: var(--typography-font-size-h2);
  font-weight: 600;
  color: var(--color-hh-primary-700);
}

.alt-h3 {
  font-family: var(--typography-font-family-alt);
  font-size: var(--typography-font-size-h3);
  font-weight: 600;
  color: var(--color-hh-primary-700);
}

.alt-h4 {
  font-family: var(--typography-font-family-alt);
  font-size: var(--typography-font-size-h4);
  font-weight: 600;
  color: var(--color-hh-primary-700);
}

/* Body and Caption */
.body {
  font-family: var(--typography-font-family-body);
  font-size: var(--typography-font-size-p);
  font-weight: 400;
  color: var(--color-hh-neutral-700);
}

.caption {
  font-family: var(--typography-font-family-body);
  font-size: 0.875rem; /* ~14px */
  color: var(--color-hh-neutral-500);
}
